extends ../layout

block content
  h1= title
  p 
  h2= device.Name
  form(method="POST" action='/devices/'+device.DeviceID+'/save')
    div.form-group
      div.form-entry
        label(for='ID)') ID: #{device.DeviceID}
      br
      label(for='Name') Name: #{device.Name}
      br
      label(for="IPTV") IPTV: 
      input(type="text", name='IPTV' value=device.IPTV)
    br
    button(type="submit") Save
  br
  a.back(href='/devices') Back