<% layout('../layout') -%>

<!-- ***** Breadcumb Area Start ***** -->
<div class="mosh-breadcumb-area" style="background-image: url(/img/core-img/breadcumb.png);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="bradcumbContent">
                    <h2>Devices</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/devices">Devices</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><%=device.DeviceID%></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Data Area Start ***** -->
<section class="contact-area section_padding_100">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <!-- Contact Form Area -->
            <div class="col-12 col-md-8">
                <div class="contact-form-area">
                    <h2>Device Details</h2>
                    <form method="POST" action='/devices/<%=device.DeviceID%>/save'>
                        <div class="row">
                            <div class="col-12">ID</div>
                            <input type="text" class="form-control" id="ID" placeholder="ID" name="ID" value="<%=device.DeviceID%>" readonly="true">
                        </div>
                        <div class="row">
                            <div class="col-12">Name</div>
                            <input type="text" class="form-control" id="Name" placeholder="Name" name="Name" value="<%=device.DeviceID%>" readonly="true">
                        </div>
                        <div class="row">
                            <div class="col-12">IPTV</div>
                            <input type="text" class="form-control" id="IPTV" placeholder="Playlist URL" name="IPTV" value="<%=device.IPTV%>">
                        </div>
                        <div class="row">
                            <button class="btn mosh-btn mt-50" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Data Area End ***** -->