extends ../layout

block content
  h1= title
  p #{game.title}
  p
  ul
    each source in game.sources
        li #{source.name}
        ul
            each link in source.links
                li
                    a.partLink(href=link, target=blank) video
  br
  a.back(href='/events/nfl') Back